.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  font-family: inherit;
}

.react-calendar__month-view__weekdays {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}

.react-calendar__tile {
  aspect-ratio: 1 / 1 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  padding: 0 !important;
  background: transparent !important;
  color: white;
}

.react-calendar__tile--active {
  background: rgb(139 92 246 / 0.2) !important;
  border: 1px solid rgb(139 92 246) !important;
  border-radius: 0.75rem !important;
}

.react-calendar__tile:hover {
  background: rgba(255, 255, 255, 0.05) !important;
  border-radius: 0.75rem !important;
}
